/*** Colors
gray-background = #D6D6D6
green-button = #30A349
green-font = #31A34A
gray-border = #CDCBD4
gray-list background = #E6E6E9
***/

/**************
	General
**************/
body {
	background-color: #D6D6D6;
}

#container {
	background-color: #FFF;
	width: 30%;
	padding: 20px 10px;
	margin: 30px auto 0 auto;
}

/****************
	Todo Container
*****************/
#todoContainer {
	border: 1px #CDCBD4 solid;
	border-radius: 4px;
}

/******************
	input box
*******************/
#todoTitle, #inputContainer{
	text-align: center;
}

#newTodo {
	width: 70%;
	border: 1px solid #CDCBD4;
	border-right: 0px;
	height: 37px;
	border-radius: 4px 0 0 4px;
	padding-left: 10px;
}

#addBtn {
	width: 24%;
	border: none;
	padding: 0;
	height: 41px;
	border-radius: 0 4px 4px 0;
	color: #FFF;
	background-color: #30A349;
	outline: 0;
}

#addBtn:active {
	background-color: #3BC95B;
}

/****************
todo item List
****************/
#todoList {
	list-style: none;
	width: 100%;
  padding-left: 0px;
  margin-bottom: 20px;
  margin-top: 22px;
  min-height: 185px;
}

#todoList > li {
	padding: 10px;
}

#todoList > li:nth-of-type(odd) {			/* Odd number row gets gray background */
	background-color: #E6E6E9;
}

#todoList > li.completed label .description {
	text-decoration: line-through;
	color: #939398;
}

span.description {
	padding-left: 12px;
}

/***********
	Footer 
*************/
footer {
	padding: 20px 10px;
  border-top: 1px #CDCBD4 solid;
}
footer:after {		/* create empty block that prevents footer container from collapsing due to its child's floating properies.*/
	display: block;
	content: "";
	clear: both;
}

#markAll {
	float: right;
	color: #31A34A;
	cursor: pointer;
} 

#markAll:hover {
	color: #3BC95B;
	text-decoration: underline;
}

#todoCount {
	float: left;
}

/***************
 Media Queries
***************/

@media only screen and (min-width: 1920px) {
	#container {
		width: 575px;
	}
}
@media only screen and (max-width: 1180px) {
	#container {
		width: 350px;
	}
}