<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/main.css">	
</head>
<body>
	<div id="container">
		
	</div>
	<script src="js/lib/jquery-min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script type="text/javascript" src="js/models/todoModel.js"></script>
	<script type="text/javascript" src="js/collections/todosCollection.js"></script>
	<script type="text/javascript" src="js/views/todoView.js"></script>
	<script type="text/javascript" src="js/views/todosView.js"></script>

	<script id="todoTemplate" type="text/html">
		<label>
			<% if (isCompleted) {%>
				<input type='checkbox' checked class='checkBox'></input> 
			<% } else { %>
				<input type='checkbox' class='checkBox'></input> 
			<% } %>
			<span class="description"><%- description %></span>
		</label>
	</script>

	<script id="todosTemplate" type="text/html">
		<h2 id='todoTitle'>To Do List</h2>
		<div id='inputContainer'><input type='text' id='newTodo' autofocus></input><button id='addBtn'>Add item</button></div>
		<ul id='todoList'></ul>
		<footer>
			<div id='todoCount'>Items left: <span id='todoLeft'> 0 </span> </div> 
			<div id='markAll'>Mark all as complete</div>
		</footer>
	</script>
	
	<script src="js/main.js"></script>
</body>
</html>